.task {
  display: flex;
  width: 100%;
  align-items: baseline;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 10px;
  background-color: var(--foreground-color);
  transition: background-color 0.2s ease-in-out;
  border: 1px solid var(--primary-color);
  justify-content: space-between;
}

.task:hover {
  border: 1px solid black;
  box-shadow: 0 2px 14px rgba(0, 0, 0, 0.3);
}


.task-actions {
  display: flex;
}
.task-block {
  display: flex;
  align-items: baseline;
  gap: 40px;
}
.task-actions > button {
  margin-left: 10px;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.task-actions > .task-edit {
  background-color: var(--primary-color);
}

.task-actions > .task-delete {
  background-color: var(--danger-color);
}

.task-actions > button:hover {
  filter: brightness(1.1);
}
