.task-options {
  margin-bottom: 20px;
  width: 80%;
  border-radius: 10px;
}

.task-options-add {
  width: 100%;
}

.task-options-add > .input.task-input-new {
  flex-grow: 1;
  border-radius: 10px 0 0 0;
  box-shadow: var(--shadow);
}

.task-options-add > .button.task-button-new {
  border-radius: 0 10px 0 0;
  align-self: stretch;
}

.task-options-add > .task-options-user-select {
  max-width: 250px;
}

.button.task-options-mark-all {
  width: 100%;
  border-radius: 0 0 10px 10px;
}