.task-options {
  margin-bottom: 20px;
  width: 80%;
  border-radius: 10px;
}

.task-options-block {
  width: 100%;
}

.task-options-block > .input.task-input-new {
  flex-grow: 1;
  border-radius: 10px 0 0 0;
  box-shadow: var(--shadow);
}

.task-options-block > .button.task-button-new {
  border-radius: 0 10px 0 0;
  align-self: stretch;
}

.task-options-block > .task-options-user-select {
  max-width: 250px;
}

.task-options-block > .button.task-options-mark-all {
  flex-grow: 1;
  background: var(--success-color);
  border-radius: 0 0 0 10px;
}

.task-options-block > .button.task-options-unmark-all {
  flex-grow: 1;
  background: var(--danger-color);
  border-radius: 0 0 10px 0;
}
