.task-options {
  margin-bottom: 20px;
  width: 80%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.task-options > .input.task-input-new {
  flex-grow: 1;
  border-radius: 10px 0 0 10px;
}

.task-options > .button.task-button-new {
  border-radius: 0 10px 10px 0;
  align-self: stretch;
}

