.App {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  font-family: 'Lato', sans-serif;
  padding-top: 40px;
}

.input {
  padding: 10px;
  outline: none;
  border-radius: 10px;
  background-color: var(--input-background-color);
  color: var(--text-color);
  font-size: 16px;
  border: 1px solid var(--input-border-color);
}

.button {
  background-color: var(--primary-color);
  color: var(--text-color);
  border: none;
  padding: 10px 20px;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  text-wrap: nowrap;
}

.button:hover {
  filter: brightness(1.1);
}

.button:disabled {
  filter: grayscale(1);
}
