.App {
  min-height: 100vh;
  max-width: 1176px;
  padding-inline: 20px;
  margin-inline: auto;
  font-family: "Lato", sans-serif;
}

.input {
  padding: 10px;
  outline: none;
  border-radius: 10px;
  background-color: var(--input-background-color);
  color: var(--text-color);
  font-size: 16px;
  border: 1px solid var(--input-border-color);
}

.button {
  background-color: var(--primary-color);
  color: var(--text-color);
  border: none;
  padding: 10px 20px;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  text-wrap: nowrap;
}

.button:hover {
  filter: brightness(1.1);
}

.button:disabled {
  filter: grayscale(1);
}

.fl {
  display: flex;
}

.fl-col {
  display: flex;
  flex-direction: column;
}

.fl-center {
  justify-content: center;
  align-items: center;
}

.a-center {
  align-items: center;
}

.j-center {
  justify-content: center;
}

.j-between {
  justify-content: space-between;
}

.a-baseline {
  align-items: baseline;
}